<html>
<body style="background-color: gold">
<center><img src="/images/TMTtipster.jpg">

    <h1>Register</h1>
    <form action="/" method="POST">
        <label for="name"> Name</label>
        <input id="name" type="text" name="name"><br>
        <label for="email"> Email</label>
        <input id="email" type="text" name="email"><br>
        <label for="password">Password</label>
        <input id="password" type="password" name="password"/>


        <br>
        <button type="submit">Register</button>
    </form>
</center>
</body>
</html>