<html>
<body style="background-color: gold">
<a href="profile">
<center><img src="/images/TMTtipster.jpg">
</center></a>
<center>

    <button type="submit" onclick="window.location.href='/'"><b>Main</b>
    </button>
    <button type="submit" onclick="window.location.href='/bet'"><b>Bet your fixtures</b></button>
    <button type="submit" onclick="window.location.href='/profile'"><b>Profile</b></button>
    <button type="submit" onclick="window.location.href='/bettedFixtures'"><b>your bettings</b>
    </button>
    <button style="color:Tomato" type="submit" onclick="window.location.href='/register'"><b>Register</b>
        <button type="submit" onclick="window.location.href='/test'"><b>Test</b></button>


    <h1>Register</h1>
    <form action="/" method="POST">
        <label for="name"> Name</label>
        <input id="name" type="text" name="name"><br>
        <label for="email"> Email</label>
        <input id="email" type="text" name="email"><br>
        <label for="password">Password</label>
        <input id="password" type="password" name="password"/>



        <br>
        <button type="submit">Register</button>
    </form>
</center>
</body>
</html>